<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790448320134-r9phrdlsnkl4ngbk91c988rrn5c4v3um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790448320134-r9phrdlsnkl4ngbk91c988rrn5c4v3um</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-ZI20zKGbk9bhX6bHLlMB5i_dI5_wHw</string>
	<key>GCM_SENDER_ID</key>
	<string>790448320134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pmquang.Swift-Chat</string>
	<key>PROJECT_ID</key>
	<string>swift-chat-6a370</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-chat-6a370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790448320134:ios:adaa6175cac4d299b5ab07</string>
	<key>DATABASE_URL</key>
	<string>https://swift-chat-6a370.firebaseio.com</string>
</dict>
</plist>